In [60]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

ModuleNotFoundError: No module named 'keras'

In [ ]:
# Opsi 2 (menggunakan dataset dari google drive)
df = pd.read_csv('citrus.csv')
df.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [ ]:
df.loc[df.name == 'grapefruit', 'name'] = 0
df.loc[df.name == 'orange', 'name'] = 1

In [ ]:
# Display the entire DataFrame
print(df)

# Or display the first few rows to verify the changes
print(df.head())

# Alternatively, filter and display only the modified rows
print(df[df['name'].isin([0, 1])])

     name  diameter  weight  red  green  blue
0       1      2.96   86.76  172     85     2
1       1      3.91   88.05  166     78     3
2       1      4.42   95.17  156     81     2
3       1      4.47   95.60  163     81     4
4       1      4.48   95.76  161     72     9
...   ...       ...     ...  ...    ...   ...
9995    0     15.35  253.89  149     77    20
9996    0     15.41  254.67  148     68     7
9997    0     15.59  256.50  168     82    20
9998    0     15.92  260.14  142     72    11
9999    0     16.45  261.51  152     74     2

[10000 rows x 6 columns]
  name  diameter  weight  red  green  blue
0    1      2.96   86.76  172     85     2
1    1      3.91   88.05  166     78     3
2    1      4.42   95.17  156     81     2
3    1      4.47   95.60  163     81     4
4    1      4.48   95.76  161     72     9
     name  diameter  weight  red  green  blue
0       1      2.96   86.76  172     85     2
1       1      3.91   88.05  166     78     3
2       1      4.42   95.17  156     81     2
3       1      4.47   95.60  163     81     4
4       1      4.48   95.76  161     72     9
...   ...       ...     ...  ...    ...   ...
9995    0     15.35  253.89  149     77    20
9996    0     15.41  254.67  148     68     7
9997    0     15.59  256.50  168     82    20
9998    0     15.92  260.14  142     72    11
9999    0     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [ ]:
# Manually encode the 'name' column using df.loc
unique_names = df['name'].unique()  # Get unique names
name_mapping = {name: idx for idx, name in enumerate(unique_names)}  # Create a mapping dictionary

for name, idx in name_mapping.items():
    df.loc[df['name'] == name, 'name'] = idx  # Map each name to its corresponding integer

# Convert the 'name' column to a numeric type
df['name'] = pd.to_numeric(df['name'])

# Display the modified DataFrame and its info
print(df)
print(df.info())

      name  diameter  weight  red  green  blue
0        1      2.96   86.76  172     85     2
1        1      3.91   88.05  166     78     3
2        1      4.42   95.17  156     81     2
3        1      4.47   95.60  163     81     4
4        1      4.48   95.76  161     72     9
...    ...       ...     ...  ...    ...   ...
9995     1     15.35  253.89  149     77    20
9996     1     15.41  254.67  148     68     7
9997     1     15.59  256.50  168     82    20
9998     1     15.92  260.14  142     72    11
9999     1     16.45  261.51  152     74     2

[10000 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  int64
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(4)
memory usage: 468.9 KB
None

In [ ]:
dataset = df.values

In [ ]:
# ’’’ pilih 5 kolom terakhir sebagai atribut
# bilangan sebelum koma untuk memilih baris pada dataframe
# bilangan setelah koma untuk memilih kolom pada dataframe ’’’
X = dataset[:,1:6]
y = dataset[:,0]

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.        , 0.        , 0.74025974, 0.63529412, 0.        ],
       [0.07042254, 0.00738197, 0.66233766, 0.55294118, 0.01851852],
       [0.10822832, 0.04812589, 0.53246753, 0.58823529, 0.        ],
       ...,
       [0.93624907, 0.97133047, 0.68831169, 0.6       , 0.33333333],
       [0.96071164, 0.99216023, 0.35064935, 0.48235294, 0.16666667],
       [1.        , 1.        , 0.48051948, 0.50588235, 0.        ]])

In [ ]:
# pisahkan data training dan testing

X_train, X_test, Y_train, Y_test = train_test_split(X_scale, y, test_size=0.3)

In [61]:
model = Sequential([    
                    Dense(32, activation='relu', input_shape=(5,)),    
                    Dense(32, activation='relu'),    
                    Dense(1, activation='sigmoid')])

NameError: name 'Sequential' is not defined